:root {

    /* Page */
    --page-bg: #f5f7fb;

    /* Layout */
    --topbar-bg: #ffffff;
    --sidebar-bg: #ffffff;

    /* Surfaces */
    --card-bg: #ffffff;
    --dropdown-bg: #ffffff;
    --input-bg: #ffffff;
    --input-bg: #ffffff;
    --input-border: #d1d5db;
    --input-focus: #2563eb;

    /* Text */
    --text: #111827;
    --text-secondary: #6b7280;

    /* Borders */
    --border: #e5e7eb;

    /* Buttons */
    --primary-btn-bg: #2563eb;
    --primary-btn-hover: #1d4ed8;
    --primary-btn-text: #ffffff;

    /* Status */
    --danger: #dc2626;
    --success: #16a34a;
    --warning: #d97706;

    /* Effects */
    --shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

    /* Informational banners */
    --info-bg: #eef6ff;
    --info-border: #b8d8ff;
}

[data-theme="dark"] {

    /* Page */
    --page-bg: #111827;

    /* Layout */
    --topbar-bg: #1f2937;
    --sidebar-bg: #1f2937;

    /* Surfaces */
    --card-bg: #1f2937;
    --dropdown-bg: #1f2937;
    --input-bg: #111827;
    --input-bg: #111827;
    --input-border: #4b5563;
    --input-focus: #3b82f6;

    /* Text */
    --text: #f9fafb;
    --text-secondary: #9ca3af;

    /* Borders */
    --border: #374151;

    /* Buttons */
    --primary-btn-bg: #3b82f6;
    --primary-btn-hover: #2563eb;
    --primary-btn-text: #ffffff;

    /* Status */
    --danger: #ef4444;
    --success: #22c55e;
    --warning: #f59e0b;

    /* Effects */
    --shadow: 0 4px 16px rgba(0, 0, 0, 0.35);
    /* Informational Banners*/
    --info-bg: #1e3a5f;
    --info-border: #3b82f6;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    margin: 0;
    background: var(--page-bg);
    color: var(--text);

    transition:
        background .25s ease,
        color .25s ease;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0;
}